{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}gigicompany 社内システム{% endblock %}</title>
    <link rel="icon" href="{% static 'leads/icons/favicon.ico' %}" sizes="any">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'leads/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'leads/icons/favicon-16x16.png' %}">
    <link rel="icon" type="image/svg+xml" href="{% static 'leads/icons/favicon.svg' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'leads/icons/apple-touch-icon.png' %}">
    <link rel="manifest" href="{% static 'leads/icons/site.webmanifest' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    {% block extra_head %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
    {% include 'accounts/_internal_header_sidebar.html' %}
    {% block content %}{% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    {% block extra_scripts %}{% endblock %}
</body>
</html>